<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<title>NCOMBAT Administration</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">

	<script type="text/javascript" src="html/lib/jquery-3.7.1.min.js"></script>
	
	<link type="text/css" rel="stylesheet" href="html/styles/ncombat_screen.css">
	   
	<script>
		ncombat = {};

		function processResponse(response) {
			var data = response.data;
			var messages = data.messages;
			if (messages) {
				$('#commandConsole').css('display', 'none');
				for (var i = 0; i < messages.length; i++) {
					teletype.println(messages[i]);
				}
				teletype.callWhenDone(function () {
					$('#commandConsole').css('display', 'inline');
					$('#cmds').val('').focus();
				});
			}
			if (data.prompt) {
				$('#prompt').text(data.prompt);
			}
			if (data.url) {
				ncombat.nextUrl = data.url;
			}
		}

		function processError(xhr, status, error) {
			alert("AJAX ERROR: status='" + status + "', error='" + error + "'");
		}

		function sendRequest() {
			if (ncombat.nextUrl) {
				$.ajax({
					url: ncombat.nextUrl,
					type: 'post',
					dataType: 'json',
					data: { text: $('#cmds').val() },
					success: processResponse,
					error: processError
				});
			}
		}

		$(function () {
		});
	</script>
</head>
<body>
	<div id="ncombatInfo">
		<table>
			<tr>
				<td>Up since:</td>
				<td>[[${startTime}]]</td>
			</tr>
			<tr>
				<td>Up time:</td>
				<td>[[${upTime}]]</td>
			</tr>
		</table>
	</div>
	
	<div id="playerInfo">
	</div>
	
	<div id="gameInfo">
	</div>
	
	<div id="footer"><span id="about">about</span> <span id="contact">contact</span> <span id="help">help</span> <span id="license">license</span> </div>
</body>
</html>
