<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<title>NCOMBAT</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">

	<script type="text/javascript" src="html/lib/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="html/lib/ncombat_base.js"></script>
	<script type="text/javascript" src="html/lib/teletype.js"></script>
	
	<link type="text/css" rel="stylesheet" href="html/styles/ncombat_screen.css">
	   
	<script>
		ncombat = {};

		function processResponse(response) {
			var data = response.data;
			var messages = data.messages;
			if (messages) {
				$('#commandConsole').css('display', 'none');
				for (var i = 0; i < messages.length; i++) {
					teletype.println(messages[i]);
				}
				teletype.callWhenDone(function () {
					if (data.alive) {
						$('#commandConsole').css('display', 'inline');
						$('#cmds').val('').focus();
					} else {
						$('#restartPane').css('display', 'inline-block');
					}
				});
			}
			if (data.prompt) {
				$('#prompt').text(data.prompt);
			}
			if (data.url) {
				ncombat.nextUrl = data.url;
			}
		}

		function processError(xhr, status, error) {
			alert("AJAX ERROR: status='" + status + "', error='" + error + "'");
		}

		function sendRequest() {
			if (ncombat.nextUrl) {
				$.ajax({
					url: ncombat.nextUrl,
					type: 'post',
					dataType: 'json',
					data: { text: $('#cmds').val() },
					success: processResponse,
					error: processError
				});
			}
		}

		$(function () {
			setInterval(function () { $.getJSON("gamePing.json"); }, 30000);

			$("#docs").load("html/content/docs/COMINFO.txt");
			$("#docsToggle").on('click', function () {
				$("#docs").toggle();
			});

			teletype.start(statusScreen);
			$.ajax({
				url: 'gameJoin.json',
				type: 'post',
				dataType: 'json',
				success: processResponse,
				error: processError
			});
		});
	</script>
</head>
<body>
	<div id="header"><span id="ncombatTitle">N * C * O * M * B * A * T</span></div>
	<div id="content">
		<div id="gameConsole">
			<div id="statusScreen"></div>
			<div id="commandConsole">
				<form id="cmdString" action="#" method="post" onsubmit="sendRequest(); return false"> 
				   <span id="prompt"></span>
				   <input id="cmds" type="text" name="cmds" size="69" maxlength="69"/> 
				   <input id="submit" type="submit" value="send"/>
				</form>
			</div>
			<div id="restartPane">
				Thank you for playing N * C * O * M * B * A * T.<br>
				<div id="restartLink"><a href="game.do">Play Again</a></div>
			</div>
		</div>
	</div>
	<div id="docPane">
		<dl>
			<dt id="docsToggle">Our starting point, the original player documentation (click to hide/unhide)</dt>
			<dd><pre><span id="docs"></span></pre></dd>
		</dl></div>
	<div id="footer"><a href="https://github.com/ncombat/ncombat">GitHub</a></div>
</body>
</html>
